html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}
@font-face {
  font-family: '04b_19';
  src: url('./fonts/FB.eot');
  src: url('./fonts/FB.eot?#iefix') format('embedded-opentype'), url('./fonts/FB.woff') format('woff'), url('./fonts/FB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#score {
  font-family: '04b_19';
  font-size: 16vh;
  text-align: center;
  color: white;
  text-shadow: -4px -4px 0 #000, 4px -4px 0 #000, -4px 4px 0 #000, 4px 4px 0 #000;
  position: absolute;
  top: 20px;
  left: 50%;
  width: 10vw;
  margin-left: -5vw;
}
