html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}
@font-face {
  font-family: '04b_19';
  src: url('./fonts/FB.eot');
  src: url('./fonts/FB.eot?#iefix') format('embedded-opentype'), url('./fonts/FB.woff') format('woff'), url('./fonts/FB.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
#score {
  font-family: '04b_19';
  font-size: 6em;
  color: white;
  filter: drop-shadow(1px 1px 2px #000000);
}
